In [1]:
import pandas as pd

In [32]:
import pandas as pd

dataframe = pd.read_csv(
    r"D:\Microsoft Machine Learning-20240818T000653Z-001\Microsoft Machine Learning\Course2_ Data science with python\Python, numpy, Data quality, Pandas\02-Pandas\iris.csv"
)

In [10]:
df.head(10)

   Id  sepallength  sepalwidth  petallength  petalwidth        class
0   1          5.1         3.5          1.4         0.2  Iris-setosa
1   2          4.9         3.0          1.4         0.2  Iris-setosa
2   3          4.7         3.2          1.3         0.2  Iris-setosa
3   4          4.6         3.1          1.5         0.2  Iris-setosa
4   5          5.0         3.6          1.4         0.2  Iris-setosa
5   6          5.4         3.9          1.7         0.4  Iris-setosa
6   7          4.6         3.4          1.4         0.3  Iris-setosa
7   8          5.0         3.4          1.5         0.2  Iris-setosa
8   9          4.4         2.9          1.4         0.2  Iris-setosa
9  10          4.9         3.1          1.5         0.1  Iris-setosa

In [26]:
Salaries=[2000,200,400,800,500,900,4358]
#s1= pd.Series(Salaries)
s1= pd.Series(Salaries,index=['a','b','c','d','e','f','g'])
s2= pd.Series(Salaries,index=['a','p','c','d','e','f','l'])
s1
s1['a':'b']
s1.iloc[[0, -1]]

a    2000
g    4358
dtype: int64

In [25]:
s1+s2

a    4000.0
b       NaN
c     800.0
d    1600.0
e    1000.0
f    1800.0
g       NaN
l       NaN
p       NaN
dtype: float64

In [31]:
data = [
    ["Ali", 23, "Cairo"],
    ["Mona", 25, "Alex"],
    ["Sara", 22, "Giza"]
]

df = pd.DataFrame(data, columns=["Name", "Age", "City"])
df

   Name  Age   City
0   Ali   23  Cairo
1  Mona   25   Alex
2  Sara   22   Giza

In [30]:
dataa={
    'name':['ali','adam','mah'],
    'age':[12,52,78],
    'grade':[25,86,89]}
df2=pd.DataFrame(dataa,index=[1,2,3])
df2

   name  age  grade
1   ali   12     25
2  adam   52     86
3   mah   78     89

In [34]:
dataframe.head(5)

   Id  sepallength  sepalwidth  petallength  petalwidth        class
0   1          5.1         3.5          1.4         0.2  Iris-setosa
1   2          4.9         3.0          1.4         0.2  Iris-setosa
2   3          4.7         3.2          1.3         0.2  Iris-setosa
3   4          4.6         3.1          1.5         0.2  Iris-setosa
4   5          5.0         3.6          1.4         0.2  Iris-setosa

In [59]:
dataframe.loc[2,'sepallength']
dataframe.loc[2]
dataframe.loc[:,'sepallength']
dataframe.loc[[2,4,5],['sepallength','class']]
dataframe.iloc[2,2]    
dataframe.iloc[1:3,0:2]    
dataframe.iloc[[2,3],[2,3]]

   sepalwidth  petallength
2         3.2          1.3
3         3.1          1.5

In [61]:
dataframe[dataframe["class"] == "Iris-setosa"]

     Id  sepallength  sepalwidth  petallength  petalwidth        class
0     1          5.1         3.5          1.4         0.2  Iris-setosa
1     2          4.9         3.0          1.4         0.2  Iris-setosa
2     3          4.7         3.2          1.3         0.2  Iris-setosa
3     4          4.6         3.1          1.5         0.2  Iris-setosa
4     5          5.0         3.6          1.4         0.2  Iris-setosa
5     6          5.4         3.9          1.7         0.4  Iris-setosa
6     7          4.6         3.4          1.4         0.3  Iris-setosa
7     8          5.0         3.4          1.5         0.2  Iris-setosa
8     9          4.4         2.9          1.4         0.2  Iris-setosa
9    10          4.9         3.1          1.5         0.1  Iris-setosa
10   11          5.4         3.7          1.5         0.2  Iris-setosa
11   12          4.8         3.4          1.6         0.2  Iris-setosa
12   13          4.8         3.0          1.4         0.1  Iris-setosa
13   14          4.3         3.0          1.1         0.1  Iris-setosa
14   15          5.8         4.0          1.2         0.2  Iris-setosa
15   16          5.7         4.4          1.5         0.4  Iris-setosa
16   17          5.4         3.9          1.3         0.4  Iris-setosa
17   18          5.1         3.5          1.4         0.3  Iris-setosa
18   19          5.7         3.8          1.7         0.3  Iris-setosa
19   20          5.1         3.8          1.5         0.3  Iris-setosa
20   21          5.4         3.4          1.7         0.2  Iris-setosa
21   22          5.1         3.7          1.5         0.4  Iris-setosa
22   23          4.6         3.6          1.0         0.2  Iris-setosa
23   24          5.1         3.3          1.7         0.5  Iris-setosa
24   25          4.8         3.4          1.9         0.2  Iris-setosa
25   26          5.0         3.0          1.6         0.2  Iris-setosa
26   27          5.0         3.4          1.6         0.4  Iris-setosa
27   28          5.2         3.5          1.5         0.2  Iris-setosa
28   29          5.2         3.4          1.4         0.2  Iris-setosa
29   30          4.7         3.2          1.6         0.2  Iris-setosa
30   31          4.8         3.1          1.6         0.2  Iris-setosa
31   32          5.4         3.4          1.5         0.4  Iris-setosa
32   33          5.2         4.1          1.5         0.1  Iris-setosa
33   34          5.5         4.2          1.4         0.2  Iris-setosa
34   35          4.9         3.1          1.5         0.1  Iris-setosa
35   36          5.0         3.2          1.2         0.2  Iris-setosa
36   37          5.5         3.5          1.3         0.2  Iris-setosa
37   38          4.9         3.1          1.5         0.1  Iris-setosa
38   39          4.4         3.0          1.3         0.2  Iris-setosa
39   40          5.1         3.4          1.5         0.2  Iris-setosa
40   41          5.0         3.5          1.3         0.3  Iris-setosa
41   42          4.5         2.3          1.3         0.3  Iris-setosa
42   43          4.4         3.2          1.3         0.2  Iris-setosa
43   44          5.0         3.5          1.6         0.6  Iris-setosa
44   45          5.1         3.8          1.9         0.4  Iris-setosa
45   46          4.8         3.0          1.4         0.3  Iris-setosa
46   47          5.1         3.8          1.6         0.2  Iris-setosa
47   48          4.6         3.2          1.4         0.2  Iris-setosa
48   49          5.3         3.7          1.5         0.2  Iris-setosa
49   50          5.0         3.3          1.4         0.2  Iris-setosa
150   1          5.1         3.5          1.4         0.2  Iris-setosa
151   2          4.9         3.0          1.4         0.2  Iris-setosa
152   3          4.7         3.2          1.3         0.2  Iris-setosa

In [62]:
dataframe[dataframe['class'].str.contains("setosa")]

     Id  sepallength  sepalwidth  petallength  petalwidth        class
0     1          5.1         3.5          1.4         0.2  Iris-setosa
1     2          4.9         3.0          1.4         0.2  Iris-setosa
2     3          4.7         3.2          1.3         0.2  Iris-setosa
3     4          4.6         3.1          1.5         0.2  Iris-setosa
4     5          5.0         3.6          1.4         0.2  Iris-setosa
5     6          5.4         3.9          1.7         0.4  Iris-setosa
6     7          4.6         3.4          1.4         0.3  Iris-setosa
7     8          5.0         3.4          1.5         0.2  Iris-setosa
8     9          4.4         2.9          1.4         0.2  Iris-setosa
9    10          4.9         3.1          1.5         0.1  Iris-setosa
10   11          5.4         3.7          1.5         0.2  Iris-setosa
11   12          4.8         3.4          1.6         0.2  Iris-setosa
12   13          4.8         3.0          1.4         0.1  Iris-setosa
13   14          4.3         3.0          1.1         0.1  Iris-setosa
14   15          5.8         4.0          1.2         0.2  Iris-setosa
15   16          5.7         4.4          1.5         0.4  Iris-setosa
16   17          5.4         3.9          1.3         0.4  Iris-setosa
17   18          5.1         3.5          1.4         0.3  Iris-setosa
18   19          5.7         3.8          1.7         0.3  Iris-setosa
19   20          5.1         3.8          1.5         0.3  Iris-setosa
20   21          5.4         3.4          1.7         0.2  Iris-setosa
21   22          5.1         3.7          1.5         0.4  Iris-setosa
22   23          4.6         3.6          1.0         0.2  Iris-setosa
23   24          5.1         3.3          1.7         0.5  Iris-setosa
24   25          4.8         3.4          1.9         0.2  Iris-setosa
25   26          5.0         3.0          1.6         0.2  Iris-setosa
26   27          5.0         3.4          1.6         0.4  Iris-setosa
27   28          5.2         3.5          1.5         0.2  Iris-setosa
28   29          5.2         3.4          1.4         0.2  Iris-setosa
29   30          4.7         3.2          1.6         0.2  Iris-setosa
30   31          4.8         3.1          1.6         0.2  Iris-setosa
31   32          5.4         3.4          1.5         0.4  Iris-setosa
32   33          5.2         4.1          1.5         0.1  Iris-setosa
33   34          5.5         4.2          1.4         0.2  Iris-setosa
34   35          4.9         3.1          1.5         0.1  Iris-setosa
35   36          5.0         3.2          1.2         0.2  Iris-setosa
36   37          5.5         3.5          1.3         0.2  Iris-setosa
37   38          4.9         3.1          1.5         0.1  Iris-setosa
38   39          4.4         3.0          1.3         0.2  Iris-setosa
39   40          5.1         3.4          1.5         0.2  Iris-setosa
40   41          5.0         3.5          1.3         0.3  Iris-setosa
41   42          4.5         2.3          1.3         0.3  Iris-setosa
42   43          4.4         3.2          1.3         0.2  Iris-setosa
43   44          5.0         3.5          1.6         0.6  Iris-setosa
44   45          5.1         3.8          1.9         0.4  Iris-setosa
45   46          4.8         3.0          1.4         0.3  Iris-setosa
46   47          5.1         3.8          1.6         0.2  Iris-setosa
47   48          4.6         3.2          1.4         0.2  Iris-setosa
48   49          5.3         3.7          1.5         0.2  Iris-setosa
49   50          5.0         3.3          1.4         0.2  Iris-setosa
150   1          5.1         3.5          1.4         0.2  Iris-setosa
151   2          4.9         3.0          1.4         0.2  Iris-setosa
152   3          4.7         3.2          1.3         0.2  Iris-setosa

In [63]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           153 non-null    int64
 1   sepallength  152 non-null    float64
 2   sepalwidth   153 non-null    float64
 3   petallength  151 non-null    float64
 4   petalwidth   153 non-null    float64
 5   class        153 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.3+ KB

In [64]:
dataframe.describe()

               Id  sepallength  sepalwidth  petallength  petalwidth
count  153.000000   152.000000  153.000000   151.000000  153.000000
mean    74.058824     5.819079    3.057516     3.688742    1.179085
std     44.213036     0.830282    0.430986     1.778709    0.768256
min      1.000000     4.300000    2.000000     1.000000    0.100000
25%     36.000000     5.100000    2.800000     1.500000    0.300000
50%     74.000000     5.750000    3.000000     4.200000    1.300000
75%    112.000000     6.400000    3.300000     5.100000    1.800000
max    150.000000     7.900000    4.400000     6.900000    2.500000

In [69]:
dataframe.drop([2,3])

      Id  sepallength  sepalwidth  petallength  petalwidth           class
0      1          5.1         3.5          1.4         0.2     Iris-setosa
1      2          4.9         3.0          1.4         0.2     Iris-setosa
4      5          5.0         3.6          1.4         0.2     Iris-setosa
5      6          5.4         3.9          1.7         0.4     Iris-setosa
6      7          4.6         3.4          1.4         0.3     Iris-setosa
..   ...          ...         ...          ...         ...             ...
148  149          6.2         3.4          NaN         2.3  Iris-virginica
149  150          5.9         3.0          5.1         1.8  Iris-virginica
150    1          5.1         3.5          1.4         0.2     Iris-setosa
151    2          4.9         3.0          1.4         0.2     Iris-setosa
152    3          4.7         3.2          1.3         0.2     Iris-setosa

[151 rows x 6 columns]

In [70]:
dataframe

      Id  sepallength  sepalwidth  petallength  petalwidth           class
0      1          5.1         3.5          1.4         0.2     Iris-setosa
1      2          4.9         3.0          1.4         0.2     Iris-setosa
2      3          4.7         3.2          1.3         0.2     Iris-setosa
3      4          4.6         3.1          1.5         0.2     Iris-setosa
4      5          5.0         3.6          1.4         0.2     Iris-setosa
..   ...          ...         ...          ...         ...             ...
148  149          6.2         3.4          NaN         2.3  Iris-virginica
149  150          5.9         3.0          5.1         1.8  Iris-virginica
150    1          5.1         3.5          1.4         0.2     Iris-setosa
151    2          4.9         3.0          1.4         0.2     Iris-setosa
152    3          4.7         3.2          1.3         0.2     Iris-setosa

[153 rows x 6 columns]

In [72]:
dataframe.dropna(how='all')

      Id  sepallength  sepalwidth  petallength  petalwidth           class
0      1          5.1         3.5          1.4         0.2     Iris-setosa
1      2          4.9         3.0          1.4         0.2     Iris-setosa
2      3          4.7         3.2          1.3         0.2     Iris-setosa
3      4          4.6         3.1          1.5         0.2     Iris-setosa
4      5          5.0         3.6          1.4         0.2     Iris-setosa
..   ...          ...         ...          ...         ...             ...
148  149          6.2         3.4          NaN         2.3  Iris-virginica
149  150          5.9         3.0          5.1         1.8  Iris-virginica
150    1          5.1         3.5          1.4         0.2     Iris-setosa
151    2          4.9         3.0          1.4         0.2     Iris-setosa
152    3          4.7         3.2          1.3         0.2     Iris-setosa

[153 rows x 6 columns]

In [73]:
dataframe.dropna(how='any')

      Id  sepallength  sepalwidth  petallength  petalwidth           class
0      1          5.1         3.5          1.4         0.2     Iris-setosa
1      2          4.9         3.0          1.4         0.2     Iris-setosa
2      3          4.7         3.2          1.3         0.2     Iris-setosa
3      4          4.6         3.1          1.5         0.2     Iris-setosa
4      5          5.0         3.6          1.4         0.2     Iris-setosa
..   ...          ...         ...          ...         ...             ...
147  148          6.5         3.0          5.2         2.0  Iris-virginica
149  150          5.9         3.0          5.1         1.8  Iris-virginica
150    1          5.1         3.5          1.4         0.2     Iris-setosa
151    2          4.9         3.0          1.4         0.2     Iris-setosa
152    3          4.7         3.2          1.3         0.2     Iris-setosa

[150 rows x 6 columns]

In [74]:
dataframe.dropna(subset=['petallength'])# name of column u want to drop nan values form it

      Id  sepallength  sepalwidth  petallength  petalwidth           class
0      1          5.1         3.5          1.4         0.2     Iris-setosa
1      2          4.9         3.0          1.4         0.2     Iris-setosa
2      3          4.7         3.2          1.3         0.2     Iris-setosa
3      4          4.6         3.1          1.5         0.2     Iris-setosa
4      5          5.0         3.6          1.4         0.2     Iris-setosa
..   ...          ...         ...          ...         ...             ...
147  148          6.5         3.0          5.2         2.0  Iris-virginica
149  150          5.9         3.0          5.1         1.8  Iris-virginica
150    1          5.1         3.5          1.4         0.2     Iris-setosa
151    2          4.9         3.0          1.4         0.2     Iris-setosa
152    3          4.7         3.2          1.3         0.2     Iris-setosa

[151 rows x 6 columns]

In [77]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           153 non-null    int64
 1   sepallength  152 non-null    float64
 2   sepalwidth   153 non-null    float64
 3   petallength  151 non-null    float64
 4   petalwidth   153 non-null    float64
 5   class        153 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.3+ KB

In [82]:
dataframe['petallength'].fillna(method='ffill',inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_24368\2245363327.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['petallength'].fillna(method='ffill',inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_24368\2245363327.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataframe['petallength'].fillna(method='ffill',inplace=True)

In [84]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           153 non-null    int64
 1   sepallength  152 non-null    float64
 2   sepalwidth   153 non-null    float64
 3   petallength  153 non-null    float64
 4   petalwidth   153 non-null    float64
 5   class        153 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.3+ KB

In [87]:
dataframe['sepallength'].fillna(method='bfill',inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_24368\3422783775.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['sepallength'].fillna(method='bfill',inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_24368\3422783775.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dataframe['sepallength'].fillna(method='bfill',inplace=True)

In [88]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           153 non-null    int64
 1   sepallength  153 non-null    float64
 2   sepalwidth   153 non-null    float64
 3   petallength  153 non-null    float64
 4   petalwidth   153 non-null    float64
 5   class        153 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.3+ KB

In [92]:
dataframe.drop_duplicates(inplace=True)

In [95]:
dataframe.set_index('Id',inplace=True)

In [96]:
dataframe

     sepallength  sepalwidth  petallength  petalwidth           class
Id
1            5.1         3.5          1.4         0.2     Iris-setosa
2            4.9         3.0          1.4         0.2     Iris-setosa
3            4.7         3.2          1.3         0.2     Iris-setosa
4            4.6         3.1          1.5         0.2     Iris-setosa
5            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
146          6.7         3.0          5.2         2.3  Iris-virginica
147          6.3         2.5          5.0         1.9  Iris-virginica
148          6.5         3.0          5.2         2.0  Iris-virginica
149          6.2         3.4          5.2         2.3  Iris-virginica
150          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [112]:
dataframe.reset_index()

,index,Id,sepallength,sepalwidth,petallength,petalwidth,class
0,0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...,...
145,145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,148,149,6.2,3.4,5.2,2.3,Iris-virginica
149,149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [110]:
dataframe.drop(columns=['index','level_0'],inplace=True)

In [113]:
dataframe

      Id  sepallength  sepalwidth  petallength  petalwidth           class
0      1          5.1         3.5          1.4         0.2     Iris-setosa
1      2          4.9         3.0          1.4         0.2     Iris-setosa
2      3          4.7         3.2          1.3         0.2     Iris-setosa
3      4          4.6         3.1          1.5         0.2     Iris-setosa
4      5          5.0         3.6          1.4         0.2     Iris-setosa
..   ...          ...         ...          ...         ...             ...
145  146          6.7         3.0          5.2         2.3  Iris-virginica
146  147          6.3         2.5          5.0         1.9  Iris-virginica
147  148          6.5         3.0          5.2         2.0  Iris-virginica
148  149          6.2         3.4          5.2         2.3  Iris-virginica
149  150          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 6 columns]

In [114]:
dataframe.groupby("class")["sepallength"].mean()

class
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.598
Name: sepallength, dtype: float64

In [115]:
dataframe.groupby(["class", "sepalwidth"]).mean()

                                    Id  sepallength  petallength  petalwidth
class           sepalwidth
Iris-setosa     2.3          42.000000     4.500000     1.300000    0.300000
                2.9           9.000000     4.400000     1.400000    0.200000
                3.0          23.333333     4.700000     1.366667    0.183333
                3.1          23.600000     4.820000     1.520000    0.140000
                3.2          32.000000     4.680000     1.360000    0.200000
                3.3          37.000000     5.050000     1.550000    0.350000
                3.4          22.333333     5.033333     1.566667    0.255556
                3.5          28.166667     5.150000     1.416667    0.300000
                3.6          14.000000     4.800000     1.200000    0.200000
                3.7          27.333333     5.266667     1.500000    0.266667
                3.8          32.750000     5.250000     1.675000    0.300000
                3.9          11.500000     5.400000     1.500000    0.400000
                4.0          15.000000     5.800000     1.200000    0.200000
                4.1          33.000000     5.200000     1.500000    0.100000
                4.2          34.000000     5.500000     1.400000    0.200000
                4.4          16.000000     5.700000     1.500000    0.400000
Iris-versicolor 2.0          61.000000     5.000000     3.500000    1.000000
                2.2          66.000000     6.100000     4.250000    1.250000
                2.3          78.666667     5.600000     3.900000    1.200000
                2.4          73.666667     5.300000     3.600000    1.033333
                2.5          83.000000     5.625000     3.950000    1.250000
                2.6          88.000000     5.666667     3.966667    1.133333
                2.7          78.000000     5.680000     4.240000    1.300000
                2.8          72.333333     6.150000     4.450000    1.333333
                2.9          76.714286     6.085714     4.314286    1.342857
                3.0          80.625000     5.950000     4.437500    1.437500
                3.1          68.666667     6.766667     4.666667    1.466667
                3.2          58.000000     6.433333     4.666667    1.566667
                3.3          57.000000     6.300000     4.700000    1.600000
                3.4          86.000000     6.000000     4.500000    1.600000
Iris-virginica  2.2         120.000000     6.000000     5.000000    1.500000
                2.5         119.250000     6.025000     5.075000    1.850000
                2.6         127.000000     6.900000     6.250000    1.850000
                2.7         120.250000     6.075000     5.100000    1.875000
                2.8         126.750000     6.475000     5.487500    1.987500
                2.9         106.000000     6.800000     5.950000    1.800000
                3.0         126.750000     6.716667     5.516667    1.991667
                3.1         140.250000     6.725000     5.400000    2.150000
                3.2         123.600000     6.760000     5.600000    2.140000
                3.3         123.666667     6.566667     5.800000    2.366667
                3.4         143.000000     6.250000     5.400000    2.350000
                3.6         110.000000     7.200000     6.100000    2.500000
                3.8         125.000000     7.800000     6.550000    2.100000

In [116]:
dataframe

      Id  sepallength  sepalwidth  petallength  petalwidth           class
0      1          5.1         3.5          1.4         0.2     Iris-setosa
1      2          4.9         3.0          1.4         0.2     Iris-setosa
2      3          4.7         3.2          1.3         0.2     Iris-setosa
3      4          4.6         3.1          1.5         0.2     Iris-setosa
4      5          5.0         3.6          1.4         0.2     Iris-setosa
..   ...          ...         ...          ...         ...             ...
145  146          6.7         3.0          5.2         2.3  Iris-virginica
146  147          6.3         2.5          5.0         1.9  Iris-virginica
147  148          6.5         3.0          5.2         2.0  Iris-virginica
148  149          6.2         3.4          5.2         2.3  Iris-virginica
149  150          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 6 columns]

In [122]:
dataframe.sort_values(by=["sepallength","petallength"])

      Id  sepallength  sepalwidth  petallength  petalwidth           class
13    14          4.3         3.0          1.1         0.1     Iris-setosa
38    39          4.4         3.0          1.3         0.2     Iris-setosa
42    43          4.4         3.2          1.3         0.2     Iris-setosa
8      9          4.4         2.9          1.4         0.2     Iris-setosa
41    42          4.5         2.3          1.3         0.3     Iris-setosa
..   ...          ...         ...          ...         ...             ...
135  136          7.7         3.0          6.1         2.3  Iris-virginica
117  118          7.7         3.8          6.7         2.2  Iris-virginica
122  123          7.7         2.8          6.7         2.0  Iris-virginica
118  119          7.7         2.6          6.9         2.3  Iris-virginica
131  132          7.9         3.8          6.4         2.0  Iris-virginica

[150 rows x 6 columns]

In [124]:
df2=pd.read_excel(r"D:\Microsoft Machine Learning-20240818T000653Z-001\Microsoft Machine Learning\Course2_ Data science with python\Python, numpy, Data quality, Pandas\02-Pandas\Excel_Sample.xlsx")

In [140]:
df2.columns=['Id','b','c','d','g']

In [141]:
df2

   Id   b   c   d   g
0   0   0   1   2   3
1   1   4   5   6   7
2   2   8   9  10  11
3   3  12  13  14  15

In [142]:
pd.concat([dataframe,df2],axis=1)

,Id,sepallength,sepalwidth,petallength,petalwidth,class,Id,b,c,d,g
0,1,5.1,3.5,1.4,0.2,Iris-setosa,0.0,0.0,1.0,2.0,3.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,1.0,4.0,5.0,6.0,7.0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,2.0,8.0,9.0,10.0,11.0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,3.0,12.0,13.0,14.0,15.0
4,5,5.0,3.6,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,NaN,NaN,NaN,NaN,NaN
146,147,6.3,2.5,5.0,1.9,Iris-virginica,NaN,NaN,NaN,NaN,NaN
147,148,6.5,3.0,5.2,2.0,Iris-virginica,NaN,NaN,NaN,NaN,NaN
148,149,6.2,3.4,5.2,2.3,Iris-virginica,NaN,NaN,NaN,NaN,NaN
149,150,5.9,3.0,5.1,1.8,Iris-virginica,NaN,NaN,NaN,NaN,NaN

In [144]:
dataframe.merge(df2,on="Id",how='inner')

,Id,sepallength,sepalwidth,petallength,petalwidth,class,b,c,d,g
0,1,5.1,3.5,1.4,0.2,Iris-setosa,4,5,6,7
1,2,4.9,3.0,1.4,0.2,Iris-setosa,8,9,10,11
2,3,4.7,3.2,1.3,0.2,Iris-setosa,12,13,14,15

In [146]:
dataframe.merge(df2,on="Id",how='left')

,Id,sepallength,sepalwidth,petallength,petalwidth,class,b,c,d,g
0,1,5.1,3.5,1.4,0.2,Iris-setosa,4.0,5.0,6.0,7.0
1,2,4.9,3.0,1.4,0.2,Iris-setosa,8.0,9.0,10.0,11.0
2,3,4.7,3.2,1.3,0.2,Iris-setosa,12.0,13.0,14.0,15.0
3,4,4.6,3.1,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN
4,5,5.0,3.6,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,NaN,NaN,NaN,NaN
146,147,6.3,2.5,5.0,1.9,Iris-virginica,NaN,NaN,NaN,NaN
147,148,6.5,3.0,5.2,2.0,Iris-virginica,NaN,NaN,NaN,NaN
148,149,6.2,3.4,5.2,2.3,Iris-virginica,NaN,NaN,NaN,NaN
149,150,5.9,3.0,5.1,1.8,Iris-virginica,NaN,NaN,NaN,NaN

In [147]:
dataframe.merge(df2,on="Id",how='right')

,Id,sepallength,sepalwidth,petallength,petalwidth,class,b,c,d,g
0,0,NaN,NaN,NaN,NaN,NaN,0,1,2,3
1,1,5.1,3.5,1.4,0.2,Iris-setosa,4,5,6,7
2,2,4.9,3.0,1.4,0.2,Iris-setosa,8,9,10,11
3,3,4.7,3.2,1.3,0.2,Iris-setosa,12,13,14,15

In [151]:
dataframe.dtypes

Id               int64
sepallength    float64
sepalwidth     float64
petallength    float64
petalwidth     float64
class           object
dtype: object

In [168]:
dataframe['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [169]:
dataframe['class'].nunique()

3

In [170]:
dataframe['class'].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64